body {
  margin: 0px;
  padding: 20px;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  background: #D6DBDF;
  color: #1F2D40;
}

hr{
  border: 2px solid #1F2D40;
}

header{
  margin-left: 10px;
}

header h2{
  display: inline;
  position:absolute;
  margin-top: 33px;
  margin-left: 20px;
  color: #1F2D40;
}

form{
  background: white;
  width: 671px;
  height: auto;
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #1F2D40;
}

h1{
  text-align: center;
  color: #1F2D40;
}

p{
  color: #1F2D40;
  margin-top: 20px;
  text-align: center;
}
.form-control{
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}


select {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  width: 370px;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  font-family: verdana, sans-serif;
  color: #6C757D;
  border: 1px solid #CED4DA;
}

textarea{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 370px;
  height: 100px;
  border-radius: 7px;
  font-weight: bold;
  font-family: verdana, sans-serif;
  border: 1px solid #CED4DA;
}

#arch4{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 370px;
  height: 40px;
}

button {
  border: none;
  outline: none;
  height: 40px;
  background: #1F2D40;
  color: #fff;
  font-size: 18px;
  border-radius: 7px;
  width: 370px;
}

button:hover {
  cursor: pointer;
  background: #AEB6BF;
  color: #1F2D40;
}

a:hover{
  cursor: pointer;
  color: #6C757D;
}

a{
  color: #1F2D40;
  font-weight: bold;
}

#nombre, #am, #ap{
  width: 190px;
  margin: 5px;
  display: inline-block;
}

#fechanac{
  width: 320px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}