body {
    margin: 0px;
    padding: 20px;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background: #D6DBDF;
    color: #1F2D40;
  }
  
  hr{
    border: 2px solid #1F2D40;
  }
  
  header{
    margin-left: 10px;
  }
  
  header h2{
    display: inline;
    position:absolute;
    margin-top: 33px;
    margin-left: 20px;
    color: #1F2D40;
  }
  
  form{
    background: white;
    width: 730px;
    height: auto;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #1F2D40;
  }
  
  h1{
    text-align: center;
    color: #1F2D40;
  }
  
  p{
    color: #1F2D40;
    margin-top: 20px;
    text-align: center;
  }
  .form-control{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  button {
    border: none;
    outline: none;
    height: 40px;
    background: #1F2D40;
    color: #fff;
    font-size: 18px;
    border-radius: 7px;
    width: 200px;
    margin-top: 20px;
  }
  
  button:hover {
    cursor: pointer;
    background: #AEB6BF;
    color: #1F2D40;
  }
  
table{
    width: 695px;
    font-family:'Times New Roman', Times, serif;
}
#id_res, #sangre, #enfermedad, #glucosa, #oxigen, #colesterol, #username, #cedula{
  display: inline-block;
  width: 210px;
  margin: 10px;
}